<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait"/>
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes"/>
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application"/>
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait"/>
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true"/>
    <meta name='360-fullscreen' content='true' />
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <meta content=yes name=apple-mobile-web-app-capable />
    <meta content=yes name=apple-touch-fullscreen />
    <meta content="telephone=no,email=no" name=format-detection />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>mobile</title>
  </head>
  <body>
    <script >
      // 屏蔽safari双击放大
      window.onload = function () {
        if (navigator.userAgent.indexOf('Safari') > -1) {
          document.addEventListener('touchstart', function (event) {
            if (event.touches.length > 1) {
              event.preventDefault();
            }
          })
          var lastTouchEnd = 0;
          document.addEventListener('touchend', function (event) {
            var now = (new Date()).getTime();
            if (now - lastTouchEnd <= 300) {
              event.preventDefault();
            }
            lastTouchEnd = now;
          }, false)
          document.addEventListener('gesturestart', function(event) {
            event.preventDefault();
          })
        }
        
      }
    </script>
    <div id="root"></div>
  </body>
</html>
