@import '../public/iconfont/iconfont.css';
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
.btn-common {
  background: #409EFF !important;
  border-radius: 10px !important;
  color: #fff !important;
  height: 70px !important;
  line-height: 70px !important;
}
iframe{
  width: 100%;
  height: 100%;
}
.left-dark-icon {
  font-size: 30px;
  color: #323232;
  font-weight: 600;
}
.left-light-icon {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
}