html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
.btn-common {
  background: #409EFF !important;
  border-radius: 10px !important;
  color: #fff !important;
  height: 70px !important;
  line-height: 70px !important;
}